.bar-container {
  display: flex;
  flex-direction: row;
}

.bar {
  width: 25px;
}

.frequency {
  font-size: 12px;
  font-weight: 500;
}

.action {
  font-size: 20px;
  font-weight: 500;
  height: 30px;
}

.freq-input {
  font-size: 18px;
}

.action-btn {
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.set-freq {
  width: 40px;
  font-size: 20px;
  background-color: #414141;
  color: #d4d4d4;
  text-align: center;
  border-radius: 3px;
}

.set-freq:focus {
  background-color: #414141;
  box-shadow: 0 0 0 2px #525252;
}

.set-freq::placeholder {
  color: #d4d4d4;
}

.submit-btn {
  background-color: #414141;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: #525252;
}
